@media (min-width:1025px) {}

@media (min-width:769px) and (max-width:1024px) {}

@media (min-width:415px) and (max-width:768px) {}

@media (min-width:321px) and (max-width:414px) {
  .main-text-box h1 {
    font-size: 32px;
    margin-top: 50px;
  }

  .main-text-box p {
    font-size: 16px;
  }

  .main-btn {
    padding: 11px 19px;
    margin-top: 0px;
  }

  .bg-img {
    height: 230px;
    margin: 30px 0px;
  }

  .title-box {
    padding-top: 50px;
  }

  .main-wrap-2 {
    background: linear-gradient(#001AB8 30%, #ffffff 25%);
  }

  .main-wrap-3 .img-6 {
    height: 385px;
  }

  .mt {
    margin-top: 100px;
  }

  .box-wrap {
    padding: 50px 0 50px 30px;
  }

  .box-wrap::after {
    top: 8%;
    transform: rotate(90deg);
  }

  .main-wrap-3 .img-7 {
    height: 150px;
  }

  .main-wrap-3 .img-8 {
    height: 150px;
  }

  .main-wrap-3::after {
    margin-top: -79%;
    right: 51.14%;
  }

  .main-wrap-4 img {
    margin-top: 60px;
  }

  .text-float-1 {
    top: -239px;
    left: -22%;
  }

  .text-float-2 {
    top: 3px;
    right: -23%;
  }

  .background {
    height: 500px;
  }

  .main-wrap-5 .main-5-btn {
    margin: 0 auto;
  }

  .main-wrap-5 span {
    padding-left: 170px;
  }

  .about-banner {
    height: 170px;
  }

  .about-back {
    background: linear-gradient(#ffffff 60%, #001AB8 30%);
    height: 570px;
  }

  .about-img1 {
    height: 206px;
  }

  .about-img2 {
    height: 206px;
  }

  .about-img3 {
    height: 206px;
  }

  .about-top {
    padding: 70px 0px;
  }

  .about-middle {
    padding: 70px 0px 70px;
  }

  .about-bottom {
    padding: 80px 0px 100px;
  }

  .about-txt {
    margin-top: 30px;
    padding-left: 15px;
  }

  .step {
    margin-top: 40px;
  }

  .step h3 {
    margin-bottom: 30px;
  }

  .qna-form {
    margin-top: 40px;
  }

  .btn-about {
    margin-top: 30px;
  }

  .realtor-main-txt {
    font-size: 32px;
    margin-top: 50px;
  }

  .main-banner2 {
    height: 180px;
    margin: 10px 0px 30px;
  }

  .icon-img {
    margin-top: 15px;
  }

  .realtor-bottom {
    max-height: 450px;
    padding: 60px 0px 60px;
  }

  .btn-realtor {
    margin-top: 30px;
  }

  .owner-top h2 {
    font-size: 32px;
    margin-top: 50px;
  }

  .main-banner3 {
    height: 180px;
    margin: 10px 0px 30px;
  }

  .owner-bottom {
    max-height: 700px;
    padding: 60px 0px 60px;
  }

  .qna-top {
    padding: 50px 0px 100px;
  }

  .qna-txtbox p {
    font-size: 20px;
  }

  .qna-banner {
    height: 203px;
    width: 90%;
    margin: 0 auto;
  }

  .qna-b-txt {
    width: 90%;
    margin-top: 0px;
    font-size: 16px;
    margin: 25px auto 0px;
  }

  .qna-bottom {
    padding-bottom: 100px;
  }

  .footer-logo-area img {
    left: 10%;
  }

  .footer-text {
    margin-top: 70px;
  }

  .list-top .footer-a {
    margin: 0px 12px;
  }

  .footer-underline {
    margin: 15px 0px;
  }

  .title-line {
    margin: 15px 15px 30px;
  }

  .right-line:after {
    display: none;
  }
}

@media (min-width:0) and (max-width:320px) {}